<!DOCTYPE html>
<html class="no-skrollr" ng-app="overgrowthApp" ng-controller="overgrowthController">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

    <title>Overgrowth</title>

    <style>
    #main-nav, #dotted-nav, #welcome, #overgrowth-fixed {
        opacity: 0;
        -webkit-transition: opacity 1s ease-in 2s;
        -moz-transition: opacity 1s ease-in 2s;
        -o-transition: opacity 1s ease-in 2s;
        transition: opacity 1s ease-in 2s;
    }
    </style>
    <link rel="stylesheet" href="static/css/avenir.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/styles.css">
    <link rel="stylesheet" href="static/Magnific-Popup/dist/magnific-popup.css">
    <link rel="stylesheet" href="static/swipebox/src/css/swipebox.css">
    <link rel="stylesheet" href="static/css/font-awesome.min.css">

    <script type="text/javascript">
    document.addEventListener('touchmove', function(event) {
         event.preventDefault();
    }, false);
    </script>
</head>

<body>
    <div id="change-portrait-prompt" class="display-table" style="display: none;">
        <div class="display-table-cell">
            <img src="static/img/mobile/rotation-graphic.png" alt="">
        </div>
    </div>

    <a href="#" id="toggle-mobile-menu" class="visible-xs-inline light" data-open="false"></a>

    <div class="visible-xs-block">
        <div id="mobile-nav" class="">
            <ul class="nav-horizontal" role="tablist">
                <li><a href="#about">About</a>
                </li>
                <li><a href="#gallery">Gallery</a>
                </li>
                <li><a href="#artist-statement">Artist Statement</a>
                </li>
                <li><a href="#kickstarter">Kickstarter</a>
                </li>
                <li><a href="#store">Store</a>
                </li>
                <li><a href="#exhibition">Exhibition</a>
                </li>
                <li><a href="#credits">Credits</a>
                </li>
            </ul>
        </div>
    </div>
    <!--
        We position the images fixed and therefore need to place them outside of #skrollr-body.
        We will then use data-anchor-target to displajy the correct image matching the current section (.gap element).
    -->
    <!-- reference http://read.thisispaper.com/#issue-two and file:///Users/nick/Sites/client/overgrowth/static/js/skrollr/examples/classic.html -->

    <div class="parallax-image-wrapper parallax-image-wrapper-100" data-anchor-target="#header + .gap" data-bottom-top="transform:translate3d(0px, 200%, 0px)" data-top-bottom="transform:translate3d(0px, 0%, 0px)">

        <div class="parallax-image parallax-image-100" style="background-image:url(static/img/large/10940016_v1_web.jpg)" data-anchor-target="#header + .gap" data-bottom-top="transform: translate3d(0px, -80%, 0px);" data-top-bottom="transform: translate3d(0px, 80%, 0px);"></div>
        <!--the +/-80% translation can be adjusted to control the speed difference of the image-->
    </div>

    <div class="parallax-image-wrapper parallax-image-wrapper-100 hidden-xs" data-anchor-target="#about + .gap" data-bottom-top="transform:translate3d(0px, 200%, 0px)" data-top-bottom="transform:translate3d(0px, 0%, 0px)">

        <div class="parallax-image parallax-image-100" style="background-image:url(static/img/gallery-placeholder.jpg)" data-anchor-target="#about + .gap" data-bottom-top="transform: translate3d(0px, -80%, 0px);" data-top-bottom="transform: translate3d(0px, 80%, 0px);"></div>
        <!--the +/-80% translation can be adjusted to control the speed difference of the image-->
    </div>


    <div class="parallax-image-wrapper parallax-image-wrapper-100 visible-xs-inline" data-anchor-target="#about + .gap" data-bottom-top="transform:translate3d(0px, 200%, 0px)" data-top-bottom="transform:translate3d(0px, 0%, 0px)">

        <div class="parallax-image parallax-image-100" style="background-image:url(static/img/mobile/gallery-placeholder.jpg)" data-anchor-target="#about + .gap" data-bottom-top="transform: translate3d(0px, -80%, 0px);" data-top-bottom="transform: translate3d(0px, 80%, 0px);"></div>
        <!--the +/-80% translation can be adjusted to control the speed difference of the image-->
    </div>


    <div class="parallax-image-wrapper parallax-image-wrapper-100" data-anchor-target="#store + #exhibition" data-bottom-top="transform:translate3d(0px, 200%, 0px)" data-top-bottom="transform:translate3d(0px, 0%, 0px)">

        <div class="parallax-image parallax-image-100" style="background-image:url(static/img/flower-drum.jpg)" data-anchor-target="#store + #exhibition" data-bottom-top="transform: translate3d(0px, -80%, 0px);" data-top-bottom="transform: translate3d(0px, 80%, 0px);"></div>
        <!--the +/-80% translation can be adjusted to control the speed difference of the image-->
    </div>

    <div class="parallax-image-wrapper parallax-image-wrapper-100" data-anchor-target="#artist-statement + #kickstarter" data-bottom-top="transform:translate3d(0px, 200%, 0px)" data-top-bottom="transform:translate3d(0px, 0%, 0px)">

        <div class="parallax-image parallax-image-100" style="background-image:url(static/img/kickstarter-bg.jpg)" data-anchor-target="#artist-statement + #kickstarter" data-bottom-top="transform: translate3d(0px, -80%, 0px);" data-top-bottom="transform: translate3d(0px, 80%, 0px);"></div>
        <!--the +/-80% translation can be adjusted to control the speed difference of the image-->
    </div>

    <div id="dotted-nav" class="light">
        <ul class="nav dots">
            <li class="dot">
                <a href="#landing">
                    <i class="fa fa-circle-o"></i>
                    <i class="fa fa-circle"></i>
                </a>
            </li>
            <li class="dot">
                <a href="#about">
                    <i class="fa fa-circle-o"></i>
                    <i class="fa fa-circle"></i>
                </a>
            </li>
            <li class="dot">
                <a href="#gallery">
                    <i class="fa fa-circle-o"></i>
                    <i class="fa fa-circle"></i>
                </a>
            </li>
            <li class="dot">
                <a href="#artist-statement">
                    <i class="fa fa-circle-o"></i>
                    <i class="fa fa-circle"></i>
                </a>
            </li>
            <li class="dot" class="kickstarter-element">
                <a href="#kickstarter">
                    <i class="fa fa-circle-o"></i>
                    <i class="fa fa-circle"></i>
                </a>
            </li>
            <li class="dot">
                <a href="#store">
                    <i class="fa fa-circle-o"></i>
                    <i class="fa fa-circle"></i>
                </a>
            </li>
            <li class="dot">
                <a href="#exhibition">
                    <i class="fa fa-circle-o"></i>
                    <i class="fa fa-circle"></i>
                </a>
            </li>
            <li class="dot">
                <a href="#credits">
                    <i class="fa fa-circle-o"></i>
                    <i class="fa fa-circle"></i>
                </a>
            </li>
        </ul>
    </div>

    <div id="overgrowth-fixed" class="hidden-xs">
        <div id="overgrowth-image" class="light"></div>
    </div>

    <div id="skrollr-body">
        <div class="header" id="header"></div>
        <section class="gap gap-100p" style="background-image:url(static/img/large/10940016_v1_web.jpg);" id="landing">
            <div id="main-nav" class="hidden-xs">
                <ul class="nav-horizontal" role="tablist">
                    <li><a href="#about">About</a>
                    </li>
                    <li><a href="#gallery">Gallery</a>
                    </li>
                    <li><a href="#artist-statement">Artist Statement</a>
                    </li>
                    <li class="kickstarter-element"><a href="#kickstarter">Kickstarter</a>
                    </li>
                    <li><a href="#store">Store</a>
                    </li>
                    <li><a href="#exhibition">Exhibition</a>
                    </li>
                    <li><a href="#credits">Credits</a>
                    </li>
                </ul>
            </div>
            <div id="welcome" class="top-right hidden-xs" data--125-center-center="opacity:0" data-100-top-bottom="opacity:1">
                <img src="static/img/welcome.png" alt="Welcome">
            </div>

            <div class="gap gap-100p" data-bottom-top="transform:translate3d(0px, -50%, 0px)" data-top-bottom="transform:translate3d(0px, 50%, 0px)">
                <div class="display-table">
                    <div class="display-table-cell overgrowth-logo">
                        <img class="desktop hidden-xs" src="static/img/overgrowth.png" alt="Overgrowth">
                        <img class="mobile visible-xs-inline" src="static/img/overgrowth.png" alt="Overgrowth">
                    </div>
                </div>
            </div>

            <div class="bottom-right hidden-xs" data-125-center-center="opacity:0" data--100-bottom-top="opacity:1">
                <a href="#about">
                    <img src="static/img/down-arrow-white.png" alt="Next section">
                </a>
            </div>

            <div class="bottom-right visible-xs-inline" data-bottom="opacity:1" data-center-center="opacity:0">
                <a href="#about">
                    <img src="static/img/down-arrow-white.png" alt="Next section">
                </a>
            </div>

            <div class="bottom-middle hidden-xs" data--125-center-center="opacity:0" data-100-top-bottom="opacity:1" style="width: 49px; margin-left: -24px;">
                <img src="static/img/mobile/welcome.png" alt="Welcome">
            </div>

            <div class="bottom-middle visible-xs-inline" data-bottom="opacity:1" data-center-center="opacity:0" style="width: 49px; margin-left: -24px;">
                <img src="static/img/mobile/welcome.png" alt="Welcome">
            </div>
        </section>

        <section class="" id="about">
            <div class="top-right hidden-xs" data--125-center-center="opacity:0" data-100-top-bottom="opacity:1">
                <img src="static/img/about.png" alt="About" class="parallax-fadeout">
            </div>

            <div class="top-middle visible-xs-inline" data-bottom="opacity:0" data-center-center="opacity:1" style="margin-top: -6px; margin-left: -36px;">
                <img src="static/img/mobile/overgrowth-gray.png" alt="Overgrowth">
            </div>

            <div class="display-table">
                <div class="display-table-cell">
                    <img src="static/img/mobile/about-body.png">
                </div>
            </div>

            <div class="bottom-right hidden-xs" data-125-center-center="opacity:0" data--100-bottom-top="opacity:1">
                <a href="#gallery">
                    <img src="static/img/down-arrow-gray.png" alt="Next section" class="parallax-fadeout">
                </a>
            </div>

            <div class="bottom-right visible-xs-inline" data-bottom="opacity:1" data-center-center="opacity:0">
                <a href="#gallery">
                    <img src="static/img/down-arrow-gray.png" alt="Next section" class="parallax-fadeout">
                </a>
            </div>

            <div class="bottom-middle visible-xs-inline" data-bottom="opacity:1" data-center-center="opacity:0" style="width: 34px; margin-left: -17px;">
                <img src="static/img/mobile/about.png" alt="About">
            </div>
        </section>

        <section class="gap gap-100p" id="gallery">
            <div class="top-right hidden-xs" data--125-center-center="opacity:0" data-100-top-bottom="opacity:1">
                <img src="static/img/gallery.png" alt="Gallery">
            </div>

            <div class="top-middle visible-xs-inline" data-bottom="opacity:0" data-center-center="opacity:1" style="margin-top: -6px; margin-left: -36px;">
                <img src="static/img/mobile/overgrowth-vertical-white.png" alt="Overgrowth">
            </div>

            <div class="display-table">
                <div class="display-table-cell">
                    <!-- Gallery 1 -->
                    <div id="main-gallery" class="hidden-xs">
                        <a href="static/img/large/11420016_v1_web.jpg" id="open-gallery-button">
                            <img src="static/img/mobile/view-gallery-button.png" alt="Open gallery">
                        </a>
                        <a href="static/img/large/11340009_v1.jpg"></a>
                        <a href="static/img/large/11180030_v1_web.jpg"></a>
                    </div>

                    <div id="main-gallery-touch" class="visible-xs-inline">
                        <a class="swipebox" href="static/img/large/11420016_v1_web.jpg">
                            <img src="static/img/mobile/view-gallery-button.png" alt="Open gallery">
                        </a>
                        <a class="swipebox" href="static/img/large/11340009_v1.jpg"></a>
                        <a class="swipebox" href="static/img/large/11180030_v1_web.jpg"></a>
                    </div>

                </div>
            </div>
            <div class="middle-right hidden">
                <img src="static/img/overgrowth-vertical-white.png" alt="Overgrowth">
            </div>

            <div class="bottom-middle visible-xs-inline" data-bottom="opacity:1" data-center-center="opacity:0" style="width: 42px; margin-left: -21px;">
                <img src="static/img/mobile/gallery.png" alt="Gallery">
            </div>

            <div class="bottom-right hidden-xs" data-125-center-center="opacity:0" data--100-bottom-top="opacity:1">
                <a href="#artist-statement">
                    <img src="static/img/down-arrow-white.png" alt="Next section">
                </a>
            </div>

            <div class="bottom-right visible-xs-inline" data-bottom="opacity:1" data-center-center="opacity:0">
                <a href="#artist-statement">
                    <img src="static/img/down-arrow-white.png" alt="Next section">
                </a>
            </div>
        </section>

        <section id="artist-statement">
            <div class="top-right hidden-xs" data--125-center-center="opacity:0" data-100-top-bottom="opacity:1">
                <img src="static/img/artist-statement.png" alt="Artist Statement">
            </div>

            <div class="top-middle visible-xs-inline" data-bottom="opacity:0" data-center-center="opacity:1" style="margin-top: -6px; margin-left: -36px;">
                <img src="static/img/mobile/overgrowth-gray.png" alt="Overgrowth" style="">
            </div>

            <div class="middle-right hidden">
                <img src="static/img/overgrowth-gray.png" alt="Overgrowth">
            </div>

            <div class="display-table">
                <div class="display-table-cell">
                    <img class="hidden-xs" src="static/img/artist-statement-body.png">
                    <img class="visible-xs-inline" src="static/img/mobile/artist-statement-body.png">
                    <div class="body-text hidden">We do not want merely to see beauty, we want something else which can hardly be put into words &#8212;<br>
                    <em>to be united with the beauty we see, to pass into it, <br> to become part of it.</em></div>
                </div>
            </div>

            <div class="bottom-middle visible-xs-inline" data-bottom="opacity:1" data-center-center="opacity:0" style="width: 94px; margin-left: -47px;">
                <img src="static/img/mobile/artist-statement.png" alt="Gallery">
            </div>

            <div class="bottom-right hidden-xs" data-125-center-center="opacity:0" data--100-bottom-top="opacity:1">
                <a href="#kickstarter" class="alternative-next-section">
                    <img src="static/img/down-arrow-gray.png" alt="Next section">
                </a>
            </div>

            <div class="bottom-right visible-xs-inline" data-bottom="opacity:1" data-center-center="opacity:0">
                <a href="#kickstarter" class="alternative-next-section">
                    <img src="static/img/down-arrow-gray.png" alt="Next section">
                </a>
            </div>
        </section>

        <section class="gap gap-100p kickstarter-element" style="background-image:url(static/img/kickstarter-bg.jpg);" id="kickstarter">
            <div class="top-right hidden-xs" data--125-center-center="opacity:0" data-100-top-bottom="opacity:1">
                <img src="static/img/kickstarter.png" alt="Kickstarter">
            </div>

            <div class="top-middle visible-xs-inline" data-bottom="opacity:0" data-center-center="opacity:1" style="margin-left: -36px; margin-top: -6px;">
                <img src="static/img/mobile/overgrowth-white.png" alt="Overgrowth">
            </div>

            <div class="middle-right kickstarter" style="height: 158px; margin-top: -79px;">
                <a href="#view-kickstarter">
                    <img src="static/img/view-kickstarter-button.png" alt="Go to Kickstarter Campaign">
                </a>
            </div>

            <div class="display-table">
                <div class="display-table-cell">
                    <a href="#view-kickstarter">
                        <img src="static/img/play-button.png" alt="">
                    </a>
                </div>
            </div>
            <div class="bottom-middle hidden-xs">
                <a class="" href="#">Support Overgrowth</a>
            </div>

            <div class="bottom-middle visible-xs-inline" data-bottom="opacity:1" data-center-center="opacity:0" style="width: 64px; margin-left: -32px;">
                <img src="static/img/mobile/kickstarter.png" alt="Kickstarter">
            </div>

            <div class="bottom-right hidden-xs" data-125-center-center="opacity:0" data--100-bottom-top="opacity:1">
                <a href="#store">
                    <img src="static/img/down-arrow-white.png" alt="Next section">
                </a>
            </div>

            <div class="bottom-right visible-xs-inline" data-bottom="opacity:1" data-center-center="opacity:0">
                <a href="#store">
                    <img src="static/img/down-arrow-white.png" alt="Next section">
                </a>
            </div>
        </section>

        <section id="store" class="centered">
            <div class="checkout-overlay" style="">
                <div class="display-table" style="">
                    <div class="display-table-cell">
                        <h5>{{current_variation.name}}</h5>
                        <div class="fine-print">
                            <div class="inline-contents">
                                <div class="inline-block">
                                    <em>Price</em> $<span id="total-price" ng-model="price">{{current_variation.selected_size.price}}</span>
                                </div>
                                <div class="inline-block" ng-if="current_variation.sizes.length == 1"><em>Size</em> {{current_variation.sizes[0].sized}}</div>
                                <div class="inline-block" ng-if="current_variation.sizes.length > 1"><em>Sizes</em> ({{current_variation.sizes.length}})</div>
                                <div class="inline-block"ng-if="current_variation.page_count"><em>Page Count</em> {{current_variation.page_count}}</div>
                            </div>
                            <div>
                                <div class="quantity">
                                    <a href class="checkout-arrow-left" ng-click="deincrementQuantity(); $event.stopPropagation();"></a>
                                    <em>Quantity</em> {{current_variation.selected_quantity}}
                                    <a href class="checkout-arrow-right" ng-click="incrementQuantity(); $event.stopPropagation();"></a>
                                </div>
                            </div>
                            <div>
                                <div class="variation" ng-if="current_variation.sizes.length > 1" ng-class="{disabled: current_variation.sizes.length < 2}">
                                    <a href class="checkout-arrow-left" ng-click="previousSize(); $event.stopPropagation();"></a>
                                    <em>Size</em> {{current_variation.selected_size.sized}}
                                    <a href class="checkout-arrow-right" ng-click="nextSize(); $event.stopPropagation();"></a>
                                </div>
                            </div>
                            <div>
                                <div class="variation" ng-if="current_variation.numbers">
                                    <a href class="checkout-arrow-left" ng-click="previousNumber(); $event.stopPropagation();"></a>
                                    <em>Photo No.</em> {{current_variation.selected_number}}
                                    <a href class="checkout-arrow-right" ng-click="nextNumber(); $event.stopPropagation();"></a>
                                </div>
                            </div>
                        </div>
                        <a class="checkout" href ng-click="stripeCheckout(); ; $event.stopPropagation();">
                            <img src="static/img/mobile/checkout.png" alt="Checkout">
                        </a>
                        <div class="continue-shopping">
                            <a href="#" id="continue-shopping">Go Back</a>
                        </div>
                    </div>
                </div>
            </div>

            <a href class="carousel-control arrow-left" ng-click="previousProduct(); $event.stopPropagation();"></a>
            <a href class="carousel-control arrow-right" ng-click="nextProduct(); $event.stopPropagation();"></a>

            <div class="top-right hidden-xs" data--125-center-center="opacity:0" data-100-top-bottom="opacity:1">
                <img src="static/img/store.png" alt="Exhibition">
            </div>
            <div class="top-middle visible-xs-inline" data-bottom="opacity:0" data-center-center="opacity:1" style="margin-left: -36px; margin-top: -6px;">
                <img src="static/img/mobile/overgrowth-gray.png" alt="Overgrowth">
            </div>

            <div class="middle-right hidden-xs become-a-stockist">
                <a href="mailto:hello@parkerfitzgerald.com?subject=Become a Stockist" style="">
                    <img src="static/img/become-a-stockist.png" alt="Overgrowth">
                </a>
            </div>



            <div class="display-table">
                <div class="display-table-cell">

                    <div id="store-items" class="carousel slide" data-ride="carousel">

                        <ul class="nav-store">
                            <li ng-class="{active: current_section.section == 'Publications'}"><a ng-click="switchSection('publications')">Publications</a>
                            </li>
                            <li ng-class="{active: current_section.section == 'Prints'}"><a ng-click="switchSection('prints')">Prints</a>
                            </li>
                            <li ng-class="{active: current_section.section == 'Posters'}"><a ng-click="switchSection('posters')">Posters</a>
                            </li>
                            <li ng-class="{active: current_section.section == 'Postcards'}"><a ng-click="switchSection('postcards')">Postcards</a>
                            </li>
                        </ul>

                        <div class="carousel-inner-container" ng-animate="'fadein'">



                            <div ng-repeat="s in store">
                                <div class="product item" ng-repeat="p in s.products" ng-show="(s == current_section && current_variation.name == p.name)" ng-animate>
                                    <div class="product-image gallery">
                                        <a href="{{i.large}}" ng-repeat="i in p.images" class="gallery-item">
                                            <img ng-if="$first" ng-src="{{i.small}}">
                                        </a>
                                    </div>

                                    <a class="purchase">
                                        <div class="product-details">
                                            <h5>{{p.name}}</h5>
                                            <div class="fine-print">
                                                <div class="inline-block">
                                                    <em>Price</em>
                                                    <div class="inline-block" ng-if="p.price_range">{{p.price_range}}</div>
                                                </div>
                                                <div class="inline-block" ng-if="p.sizes.length == 1"><em>Size</em> {{p.sizes[0].sized}}</div>
                                                <div class="inline-block" ng-if="p.sizes.length > 1"><em>Sizes</em> ({{p.sizes.length}})</div>
                                                <div class="inline-block"ng-if="p.page_count"><em>Page Count</em> {{p.page_count}}</div>
                                            </div>
                                        </div>
                                    </a>
                                    <div class="product-purchase">
                                        <a href="#" class="purchase-overlay">Purchase</a>
                                    </div>
                                </div>
                            </div>


                        </div>
                        <!--/carousel inner-->
                    </div>
                    <!--/carousel-->
                </div>
                <!--/table-cell-->
            </div>

            <div class="bottom-middle visible-xs-inline" data-bottom="opacity:1" data-center-center="opacity:0" style="width: 31px; margin-left: -15px;">
                <img src="static/img/mobile/store.png" alt="Store">
            </div>

            <div class="bottom-right" data-125-center-center="opacity:0" data--100-bottom-top="opacity:1">
                <a href="#exhibition">
                    <img src="static/img/down-arrow-gray.png" alt="Next section">
                </a>
            </div>
        </section>

        <section class="gap gap-100p" style="background-image:url(static/img/flower-drum.jpg);" id="exhibition">
            <div class="top-right hidden-xs" data--125-center-center="opacity:0" data-100-top-bottom="opacity:1">
                <img src="static/img/exhibition.png" alt="Exhibition">
            </div>

            <div class="top-middle visible-xs-inline" data-bottom="opacity:0" data-center-center="opacity:1" style="margin-left: -36px; margin-top: -6px;">
                <img src="static/img/mobile/overgrowth-white.png" alt="Overgrowth">
            </div>

            <div class="middle-right hidden">
                <img src="static/img/overgrowth-vertical-white.png" alt="Overgrowth">
            </div>
            <div class="display-table">
                <div class="display-table-cell">

                    <img class="hidden-xs" src="static/img/exhibition-body.png">
                    <img class="visible-xs-inline" src="static/img/mobile/exhibition-body.png">

                    <div class="exhibition-body hidden">
                        <h3>Gallery Exhibition</h3>
                        <div class="large-dates">
                            08.20 <div class="dash"></div><br>
                            09.28
                        </div>
                        <div class="exhibition-address">
                            <h5>Truck Gallery</h5>
                            <em>235 Milt Street Osaka, Japan</em>
                        </div>
                    </div>
                </div>
            </div>

            <div class="bottom-middle visible-xs-inline" style="width: 56px; margin-left: -28px;">
                <img src="static/img/mobile/exhibition.png" data-bottom="opacity:1" data-center-center="opacity:0" alt="Exhibition">
            </div>

            <div class="bottom-right hidden-xs" data-125-center-center="opacity:0" data--100-bottom-top="opacity:1">
                <a href="#credits">
                    <img src="static/img/over-arrow-white-down.png" alt="Next section">
                </a>
            </div>

            <div class="bottom-right visible-xs-inline" data-bottom="opacity:1" data-center-center="opacity:0">
                <a href="#credits">
                    <img src="static/img/over-arrow-white-down.png" alt="Next section">
                </a>
            </div>
        </section>

        <section id="credits" class="centered">
            <div class="top-right hidden-xs" data--125-center-center="opacity:0" data-100-top-bottom="opacity:1">
                <img src="static/img/credits.png" alt="Credits">
            </div>

            <div class="top-middle visible-xs-inline" data-bottom="opacity:0" data-center-center="opacity:1" style="margin-top: -6px; margin-left: -36px;">
                <img src="static/img/mobile/overgrowth-white.png" alt="Overgrowth">
            </div>

            <div class="middle-right hidden">
                <img src="static/img/overgrowth-vertical-white.png" alt="Overgrowth">
            </div>

            <div class="bottom-left overgrowth-small hidden-xs" style="z-index: 50;">
                <img src="static/img/credit-overgrowth-lower-leftcredits-2014.png" alt="Overgrowth">
            </div>


            <div class="bottom-right credit hidden-xs" style="z-index: 50;">
                <img src="static/img/credit-2014.png" alt="Copyright 2014">
            </div>

            <div class="display-table">
                <div class="display-table-cell">
                    <div class="credits-photos hidden-xs" style="z-index: 50;">
                        <a href="http://ransomltd.com"><img src="static/img/ransom.png" alt="Ransom" style="padding-right: 48px;"></a>
                        <a href="http://erbastudio.com"><img src="static/img/erba.png" alt="Erba Floral Studio"></a>
                    </div>
                    <div class="credits-photos visible-xs-block" style="z-index: 50;">
                        <a href="http://ransomltd.com"><img src="static/img/mobile/ransom.png" alt="Ransom" style="padding-right: 48px;"></a>
                        <a href="http://erbastudio.com"><img src="static/img/mobile/erba.png" alt="Erba Floral Studio"></a>
                    </div>
                    <img class="credits-text hidden-xs" src="static/img/credits-text.png">
                    <img class="credits-text visible-xs-inline" src="static/img/mobile/credits-text.png">
                    <div class="credits-text hidden">
                        <p>Overgrowth is the first of Ransom Limited’s sponsored Editions series and it is the first joint project between Ransom Limited and Erba Studio.</p>
                        <p>Ransom Limited Editions is an annual or semi-annual collaboration with jury-selected artists and photographers. The aim of Editions is to celebrate and promote beautiful work through publication, exhibition, and online exposure.</p>
                        <p>Ransom Limited is also a photographic cooperative based in Portland, OR. Founded in 2013 by brothers Parker and James Fitzgerald, Ransom photographs have been published and licensed worldwide.</p>
                        <p>Erba Studio is the work of Riley Messina. Based out of Portland, or, she is known internationally for the cohesive simplicity and balance in her aesthetic. As a floral designer and stylist, Riley has worked throughout the United States and abroad.</p>
                    </div>
                </div>
            </div>

            <div class="bottom-middle credits-names hidden-xs" style="z-index: 50;">
                <a class="ben" href="http://benbiondo.com/"><img src="static/img/credit-design-ben.png" alt="Ben Biondo"></a>
                <img src="static/img/credit-design-michelle.png" alt="Michelle Stauffer">
            </div>

            <div class="credits-names visible-xs-block" style="z-index: 50;">
                <ul class="credits-list">
                    <li class="ben">
                        <a href="http://benbiondo.com/"><img src="static/img/mobile/credit-design-ben.png" alt="Ben Biondo"></a>
                    </li>
                    <li class="michelle">
                        <a href="#" onClick="return false;"><img src="static/img/mobile/credit-design-michelle.png" alt="Michelle Stauffer"></a>
                    </li>
                </ul>
            </div>
        </section>
    </div>

    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="//code.jquery.com/ui/1.8.21/jquery-ui.min.js"></script>

    <!-- Angular scripts -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.20/angular.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular-animate.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular-touch.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.10.0/ui-bootstrap.min.js"></script>

    <!-- Application scripts -->
    <script src="static/js/app.js"></script>

    <!-- Helpers -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.underscore.min.js"></script>
    <script src="static/fullpage/vendors/jquery.easings.min.js"></script>
    <script src="static/js/jquery.ui.touch-punch.min.js"></script>
    <script src="static/jquery.tap/jquery.tap.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="static/swipebox/src/js/jquery.swipebox.js"></script>
    <script src="static/TouchSwipe-Jquery-Plugin/jquery.touchSwipe.min.js"></script>
    <script src="static/Magnific-Popup/dist/jquery.magnific-popup.min.js"></script>
    <script src="static/js/skrollr/dist/skrollr.min.js"></script>
    <script src="static/js/skrollr-menu/dist/skrollr.menu.min.js"></script>
    <script src="https://checkout.stripe.com/checkout.js"></script>
    <script>
        var s = skrollr.init({
            mobileDeceleration: 0.004,
            smoothScrolling: false
        });
        skrollr.menu.init(s, {
            //skrollr will smoothly animate to the new position using `animateTo`.
            animate: true,

            //The easing function to use.
            easing: 'sqrt',

            //Multiply your data-[offset] values so they match those set in skrollr.init
            scale: 2,

            //How long the animation should take in ms.
            duration: function(currentTop, targetTop) {
                //By default, the duration is hardcoded at 500ms.
                return 500;

                //But you could calculate a value based on the current scroll position (`currentTop`) and the target scroll position (`targetTop`).
                //return Math.abs(currentTop - targetTop) * 10;
            }
        });
    </script>
    <script type="text/javascript">
    $(function() {
        $('body').scrollspy({
            target: '#dotted-nav',
            offset: 300
        });

        function adjustElements() {
            var active = $('#dotted-nav').find(".active > a").attr('href');
            if (active == "#about" || active == "#artist-statement" || active == "#store") {
                $('#dotted-nav').removeClass('light').addClass('dark');
                $('#overgrowth-image').removeClass('light').addClass('dark');
                $('#toggle-mobile-menu').removeClass('light').addClass('dark');
            } else {
                $('#dotted-nav').removeClass('dark').addClass('light');
                $('#overgrowth-image').removeClass('dark').addClass('light');
                $('#toggle-mobile-menu').removeClass('dark').addClass('light');
            }
            if (active == "#store" || active == "#kickstarter") {
                $('#overgrowth-image').css('opacity', 0);
            } else {
                $('#overgrowth-image').css('opacity', 1);
            }
        }

        $('#dotted-nav').on('activate.bs.scrollspy', function(event) {
            adjustElements();
        });

        $('.swipebox').swipebox();

        $('#main-gallery').magnificPopup({
            delegate: 'a',
            type: 'image',
            removalDelay: 0,
            mainClass: 'mfp-fade',
            showCloseBtn: false,
            gallery: {
                enabled: true,
                arrowMarkup: '<a class="gallery-arrow gallery-arrow-%dir% hug"></a>'
            },
            preloader: true,
            tLoading: '<div class="loading"></div>',
            callbacks: {
                change: function() {
                    if (this.isOpen) {
                        this.wrap.addClass('mfp-open');
                    }
                },
                open: function() {
                    $('#open-gallery-button').css('opacity', '0');
                },
                close: function() {
                    $('#open-gallery-button').css('opacity', '1');
                },
            },
        });


        $('.gallery').each(function() { // the containers for all your galleries
            $(this).magnificPopup({
                delegate: 'a', // the selector for gallery item
                type: 'image',
                mainClass: 'mfp-fade',
                preloader: true,
                tLoading: '<div class="loading"></div>',
                gallery: {
                  enabled:true,
                  arrowMarkup: '<a class="gallery-arrow gallery-arrow-%dir% hug"></a>'
                },
                callbacks: {},
            });
        });


        $('#main-nav, #dotted-nav, #welcome, #overgrowth-fixed').css('opacity', '1.00');


        $('.purchase-overlay').click(function() {
            $('.checkout-overlay').fadeIn();
            return false;
        });

        $('#continue-shopping, .checkout-overlay').click(function() {
            $('.checkout-overlay').fadeOut();
            return false;
        });

        $('#toggle-mobile-menu').click(function() {
            // $('#mobile-nav').show();
            // console.log($(this).attr('data-open'));
            if ($(this).attr('data-open') === "false") {
                console.log('slidedown');
                $('#mobile-nav').slideDown();
                $(this).attr('data-open', "true");
            } else {
                console.log('slideup');
                $('#mobile-nav').slideUp();
                $(this).attr('data-open', "false");
            }
            return false;
        });

        $('#mobile-nav a').click(function() {
            $('#mobile-nav').slideUp();
            $('#toggle-mobile-menu').attr('data-open', "false");
        });

        // Responsive javascript
        resizeElements();
        $(window).resize(resizeElements());
        function resizeElements() {
            var w = $(window).width();
            var h = $(window).height();
            if (h < 775) {
                $('#store-items').addClass('short-screen');
            }
        }

        // Force portrait mode
        function reorient(e) {
            var portrait = (window.orientation % 180 === 0);
            if ($(window).height() < 400) {
                $("body, html").css('overflow', 'hidden');
                $("body, html").css('height', '100%');
                $("#change-portrait-prompt").show();
                window.scrollTo(0, 0);
            }
        }
        window.onorientationchange = reorient;
        window.setTimeout(reorient, 0);

        resetOpacity = false;
        $("#skrollr-body").swipe( {
            //Generic swipe handler for all directions
            swipeStatus:function(event, phase, direction, distance, duration, fingerCount) {
                if (phase == 'start') {
                    $('#toggle-mobile-menu').css('opacity', '0');
                }
            },
            swipe:function(event, direction, distance, duration, fingerCount, fingerData) {
                adjustElements();
                setTimeout(function() {
                    $('#toggle-mobile-menu').css('opacity', '1');
                }, 500);
            },
            threshold: 75
        });


        });
    </script>
</body>

</html>
