// Styles by nick woodhams nicholas.woodhams@gmail.com @pink: #fddfd7;
 @tan: #d6dccd;
 @light-tan: #FAF3E4;
 @light-grey: #E4E7DD;
 @dark-grey: #58595b;
 @pink: #E5D6D4;
 @green: #C2CECA;

    
 #collaboration {
    background: @light-grey;
}


html, body {
    font-family: "Avenir-Next", "Helvetica Neue", Helvetica, sans-serif;
    height:100%;
    padding: 0;
    margin: 0;
    min-width: 320px;
   
}

body {
    position: relative;
}
.skrollr-desktop body {
    height:100% !important;
}

//fonts
.avenir-heavy, .avenir-heavy a  {
    font-weight: 600;  
    color: #ffffff;
    font-size: 16.67px;
    letter-spacing: 3.674px;
}

.avenir-light {
  font-size: 8.33px;
    font-weight: 500;
    letter-spacing: 1.8px;
    color: #ffffff;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.avenir-book {
  
    font-weight: 200;
    color: #585858;
   
}

p {
    margin:1em 0;
}
em {
    font-style: italic;
}

a.nofocus, a, a:focus, a:hover {
    outline:0px;
    text-decoration: none;
}


.center-div {
    margin:0 auto;
}

.small-txt {font-size: 13px;   display: inline-block;}

.snipcart-checkout-container {
z-index: 9999;
}

 #snipcart-powered {
    display: none !important;
}

.snipcart-overwrite #snipcart-main-container span.snipcart-unit-price,  .snipcart-overwrite #snipcart-main-container span.snipcart-total-price, .snipcart-overwrite #snipcart-main-container table.snipcart-list span.snipcart-product-name, .snipcart-overwrite #snipcart-main-container table.snipcart-list span.snipcart-shipping-method-name, .snipcart-overwrite  #snipcart-main-container table.snipcart-list span.snipcart-shipping-method-price, .snipcart-overwrite #snipcart-main-container table.snipcart-list span.snipcart-confirm-item-quantity, .snipcart-overwrite #snipcart-main-container table.snipcart-list span.snipcart-confirm-item-price, .snipcart-overwrite #snipcart-main-container table.snipcart-list span.snipcart-confirm-item-total-price, .snipcart-overwrite #snipcart-main-container label, .snipcart-overwrite ul#snipcart-steps li span.snipcart-step-text, .snipcart-overwrite #snipcart-main-container table.snipcart-list th, .snipcart-overwrite #snipcart-main-content .snipcart-column span.snipcart-title, .snipcart-overwrite table#snipcart-confirm-prices tr td span, .snipcart-overwrite #snipcart-main-container .snipcart-full-width-text span.snipcart-title, .snipcart-overwrite #snipcart-main-container .snipcart-full-width-text, .snipcart-overwrite #snipcart-step-content-emptycart .snipcart-full-width-text p, .snipcart-overwrite #snipcart-blocked .snipcart-full-width-text p, .snipcart-overwrite #snipcart-header #snipcart-total span, .snipcart-overwrite #snipcart-header #snipcart-title  {
     font-family: "Avenir-Next", "Helvetica Neue", Helvetica, sans-serif;
}

#snipcart-close {
  display: block;
  text-decoration: none;
   background-position: center center !important; 
  width: 10px;
  height: 10px;
 
  top: 0px;
  right: 5px;
  padding: 10px !important;}

.modal-dialog {
  width: 100%;
  height: 100%;
  padding: 0;
    margin:0 auto; 
}

.pause-overlay {
    display: none;
}

.pause-overlay.is-visible {
    display:block;
      height: 160px;
  width: 300px;
  padding: 16px;
/* background: rgba(171, 171, 171, 0.4);*/
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;

}

.snipcart-summary {
    display: none;
    position: fixed;
    top: 0px;
    z-index: 100;
    background: rgba(255, 255, 255, 0.85);
    padding: 14px;
    width: 100%;
    text-align: right;
  
    a, a:hover, a:visited {
        color:#58595b;
        text-transform: uppercase;
    }
    
}

.pull-quote {
word-spacing: .8px;
padding: 0 5px;
}

.about-text-wrapper {
    
    color:#585858;
     width: 255px;
    text-align: left;
    
    .title-txt {
       font-weight: 300;
        margin-bottom: -11px;
        font-size: 11px;
        letter-spacing: 1.3px;
    }
    
    .ucase {
        text-transform: uppercase;
    }
    
    .highlighttxt {
        letter-spacing: 3px;
    }
    
    .tiny-txt {
          font-weight: 300;
  font-size: 9.5px;
  letter-spacing: .7px;
  line-height: 16px;
    }
    
    .margintop30  {
        margin-top: 40px;
    }
}



.light-txt {
    .avenir-book;
    font-size: 14px;
    text-transform: none;
}

.light-italic {
    .avenir-book;
    font-size: 13px;
    font-style: italic;
    
}

.vjs-default-skin .vjs-play-progress, .vjs-default-skin .vjs-volume-level  {background: rgba(107, 107, 107, 0.2);}


.link {
cursor: pointer;
}

.modal-content {
  height: 100%;
  border-radius: 0;
} 

.parallax-image-wrapper {
    position:fixed;
    left:0;
    width:100%;
    overflow:hidden;
}
.parallax-image-wrapper-50 {
    height:50%;
    top:-50%;
}
.parallax-image-wrapper-100 {
    height:100%;
    top:-100%;
}
.parallax-image {
    display:none;
    position:absolute;
    bottom:0;
    left:0;
    width:100%;
    background-repeat:no-repeat;
    background-position:center;
    background-size:cover;
}
.parallax-image-50 {
    height:200%;
    top:-50%;
}
.parallax-image-100 {
    height:100%;
    top:0;
}
.parallax-image.skrollable-between {
    display:block;
}
.no-skrollr .parallax-image-wrapper {
    display:none !important;
}
#skrollr-body {
    height:100%;
    overflow:visible;
    position:relative;
}
.gap {
    background:transparent center no-repeat;
    background-size:cover;
    
}
.skrollr .gap {
    background:transparent !important;
}
.gap-50p {
    height:50%;
}
.gap-100p {
    height:100%;
}
.header, .content {
    // background:#fff;
    // padding:1em;
    // -webkit-box-sizing:border-box;
    // -moz-box-sizing:border-box;
    // box-sizing:border-box;
}
.content-full {
    height:100%;
}
#done {
    height:100%;
}
.display-table {
    display: table;
    height: 100%;
    width: 100%;
    content: "";
    clear: both;
}
.display-table-cell {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
.hidden {
    display: none;
}
.body-text {
    color: #58585a;
    max-width: 522px;
    margin: 0 auto;
    font-size: 21px;
    font-weight: 300;
    text-align: left;
    line-height: 1.66;
}

.topalign > div {
 background-position: top;
}

#dotted-nav {
    position: fixed;
    top: 50%;
    right: 50px;
    height: 152px;
    margin-top: -152px / 2;
    z-index: 1000;
    &.dark > ul.dots > li > a {
        color: @dark-grey;
    }
    &.light > ul.dots > li > a {
        color: #FFF;
    }
    ul.dots {
        list-style: none;
        margin: 0;
        padding: 0;

        li {
            a {
                transition: all 0.5s ease;
                text-decoration: none;
                display: block;
                padding: 0;

                 .fa-circle {
                    display: none;
                }
                &:hover {
                    background: none;
                }
            }
            &.active {
                .fa-circle-o {
                    display: none;
                }
                .fa-circle {
                    display: block;
                }
            }
        }
    }
    .fa {
        display: block;
        font-size: 11px;
        padding: 4px 0;
    }
}
.top-right {
    position: absolute;
    top: 50px;
    right: 50px;
}
.middle-right {
    position: absolute;
    left: 50px;
    top: 50%;
    height: 72px;
    margin-top: -72px / 2;
}
.bottom-right {
    position: absolute;
    bottom: 50px;
    right: 50px;
}
.bottom-left {
    position: absolute;
    bottom: 50px;
    left: 50px;
}
.nav-horizontal {
    width: 100%;
    position: relative;
    z-index: 9999;
    top: 47px;
    margin: 0 auto;
    list-style: none;
    padding: 0;

    li {
        display: inline;
        border-bottom: 1px solid transparent;
        margin: 0 10px;
        // unicode-bidi:bidi-override;
        // direction:rtl;
        a {
            margin-right: -6px;
            padding: 3px 0;
            color: #FFF;
            text-transform: uppercase;
            font-size: 11px;
            font-weight: 400;
            text-decoration: none;
            letter-spacing: 3px;
            outline: none;
        }

        &:last-child {
            padding-right: 3px;
        }

        &:hover {
           border-bottom: 1px solid #FFF;
        }
    }
}
.centered {
    text-align: center;
    margin: 0 auto;
}
 /* IMAGE LIGHTBOX SELECTOR */

#imagelightbox
{
    cursor: pointer;
    position: fixed;
    z-index: 10000;

    -ms-touch-action: none;
    touch-action: none;

    // -webkit-box-shadow: 0 0 3.125em rgba( 0, 0, 0, .75 ); /* 50 */
    // -moz-box-shadow: 0 0 3.125em rgba( 0, 0, 0, .75 ); /* 50 */
    // box-shadow: 0 0 3.125em rgba( 0, 0, 0, .75 ); /* 50 */
}


/* WITH ACTIVITY INDICATION */

#imagelightbox-loading,
#imagelightbox-loading div
{
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}
#imagelightbox-loading
{
    width: 30px; /* 40 */
    height: 30px; /* 40 */
    background-color: #444;
    background-color: rgba( 0, 0, 0, .5 );
    position: fixed;
    z-index: 10003;
    top: 50%;
    left: 50%;
    padding: 10px; /* 10 */
    margin: -15px 0 0 -15px; /* 20 */

    -webkit-box-shadow: 0 0 2.5em rgba( 0, 0, 0, .75 ); /* 40 */
    -moz-box-shadow: 0 0 2.5em rgba( 0, 0, 0, .75 ); /* 40 */
    box-shadow: 0 0 2.5em rgba( 0, 0, 0, .75 ); /* 40 */
}
    #imagelightbox-loading div
    {
        width: 10px; /* 20 */
        height: 10px; /* 20 */
        padding: 10px;
        background-color: #fff;

        -webkit-animation: imagelightbox-loading .5s ease infinite;
        -moz-animation: imagelightbox-loading .5s ease infinite;
        -o-animation: imagelightbox-loading .5s ease infinite;
        animation: imagelightbox-loading .5s ease infinite;
    }

    @-webkit-keyframes imagelightbox-loading
    {
        from { opacity: .5; -webkit-transform: scale( .75 ); }
        50%  { opacity: 1;  -webkit-transform: scale( 1 ); }
        to   { opacity: .5; -webkit-transform: scale( .75 ); }
    }
    @-moz-keyframes imagelightbox-loading
    {
        from { opacity: .5; -moz-transform: scale( .75 ); }
        50%  { opacity: 1;  -moz-transform: scale( 1 ); }
        to   { opacity: .5; -moz-transform: scale( .75 ); }
    }
    @-o-keyframes imagelightbox-loading
    {
        from { opacity: .5; -o-transform: scale( .75 ); }
        50%  { opacity: 1;  -o-transform: scale( 1 ); }
        to   { opacity: .5; -o-transform: scale( .75 ); }
    }
    @keyframes imagelightbox-loading
    {
        from { opacity: .5; transform: scale( .75 ); }
        50%  { opacity: 1;  transform: scale( 1 ); }
        to   { opacity: .5; transform: scale( .75 ); }
    }



/* WITH OVERLAY */

#imagelightbox-overlay
{
    background-color: #fff;
    background-color: rgba(255, 255, 255, 0.70);
    position: fixed;
    z-index: 9998;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}


/* WITH "CLOSE" BUTTON */

#imagelightbox-close {
    width: 2.5em; /* 40 */
    height: 2.5em; /* 40 */
    text-align: left;
    text-indent: -9999px;
    background-color: #666;
    position: fixed;
    z-index: 10002;
    top: 2.5em; /* 40 */
    right: 2.5em; /* 40 */

    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;

    -webkit-transition: color .3s ease;
    -moz-transition: color .3s ease;
    -ms-transition: color .3s ease;
    -o-transition: color .3s ease;
    transition: color .3s ease;
}
#imagelightbox-close:hover {
    background-color: #111;
}
#imagelightbox-close:before,
#imagelightbox-close:after {
    width: 2px;
    background-color: #fff;
    content: '';
    position: absolute;
    top: 20%;
    bottom: 20%;
    left: 50%;
    margin-left: -1px;
}
#imagelightbox-close:before {
    -webkit-transform: rotate( 45deg );
    -moz-transform: rotate( 45deg );
    -ms-transform: rotate( 45deg );
    -o-transform: rotate( 45deg );
    transform: rotate( 45deg );
}
#imagelightbox-close:after {
    -webkit-transform: rotate( -45deg );
    -moz-transform: rotate( -45deg );
    -ms-transform: rotate( -45deg );
    -o-transform: rotate( -45deg );
    transform: rotate( -45deg );
}


/* WITH CAPTION */

#imagelightbox-caption {
    text-align: center;
    color: #fff;
    background-color: #666;
    position: fixed;
    z-index: 10001;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.625em; /* 10 */
}


/* WITH NAVIGATION */

#imagelightbox-nav {
    background-color: #444;
    background-color: rgba( 0, 0, 0, .5 );
    position: fixed;
    z-index: 10001;
    left: 50%;
    bottom: 3.75em; /* 60 */
    padding: 0.313em; /* 5 */

    -webkit-transform: translateX( -50% );
    -moz-transform: translateX( -50% );
    -ms-transform: translateX( -50% );
    -o-transform: translateX( -50% );
    transform: translateX( -50% );

    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}
#imagelightbox-nav a {
    width: 1em; /* 20 */
    height: 1em; /* 20 */
    border: 1px solid #fff;
    display: inline-block;
    margin: 0 0.313em; /* 5 */

    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}
#imagelightbox-nav a.active {
    background-color: #fff;
}

#imagelightbox-loading,
#imagelightbox-overlay,
#imagelightbox-close,
#imagelightbox-caption,
#imagelightbox-nav {
-webkit-animation: fade-in .25s linear;
-moz-animation: fade-in .25s linear;
-o-animation: fade-in .25s linear;
animation: fade-in .25s linear;
}
@-webkit-keyframes fade-in {
    from    { opacity: 0; }
    to      { opacity: 1; }
}
@-moz-keyframes fade-in {
    from    { opacity: 0; }
    to      { opacity: 1; }
}
@-o-keyframes fade-in {
    from    { opacity: 0; }
    to      { opacity: 1; }
}
@keyframes fade-in {
    from    { opacity: 0; }
    to      { opacity: 1; }
}

@media only screen and (max-width: 41.250em) {
#container {
    width: 100%;
}
#imagelightbox-close {
    top: 1.25em; /* 20 */
    right: 1.25em; /* 20 */
}
#imagelightbox-nav {
    bottom: 1.25em; /* 20 */
}
}
#imagelightbox {
    position: fixed;
    z-index: 9999;
}
#main-nav, #dotted-nav, #welcome, #overgrowth-fixed {
    opacity: 1;
    -webkit-transition: opacity 1s ease-in 2s; /* property duration timing-function delay */
    -moz-transition: opacity 1s ease-in 2s;
    -o-transition: opacity 1s ease-in 2s;
    transition: opacity 1s ease-in 2s;
}
#overgrowth-fixed {
    position: fixed;
    height: 72px;
    margin-top: -72px / 2;
    top: 50%;
    left: 50px;
    z-index: 999;
    #overgrowth-image {
        -webkit-transition: all 0.5s ease; /* property duration timing-function delay */
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
        height: 73px;
        width: 7px;
        &.light {
            background: url(../img/overgrowth-vertical-white.png);
        }
        &.dark {
            background: url(../img/overgrowth-gray.png);
        }
    }
}
#landing {
    min-height: 0px !important;
    height: 100% !important;
    text-align: center;
    background-color: #1c1303;
    -webkit-transition: background 1s ease-in 2s; /* property duration timing-function delay */
    -moz-transition: background 1s ease-in 2s;
    -o-transition: background 1s ease-in 2s;
    transition: background 1s ease-in 2s;
}
#about {
    background-color: @tan;
    // z-index: 101;
}
#gallery {
    height: 100%;
    background-image: url(../img/gallery-placeholder.jpg);

    // z-index: 9999;
    background-color: @light-tan;

    .gallery-container {
        width: 100%;
        height: 100%;
        overflow-x: scroll;
        overflow-y: hidden;
        white-space:nowrap;

        .gallery-item {
            height: 100%;
            width: 50%;
            display:inline-block;
            white-space:normal;
            background: url(../img/gallery-placeholder.jpg);
            background-size:cover;
            margin-right: 10px;
            &:last-child {
                margin-right: 0;
            }
        }

        #flowers {
            background: url(../img/large/11420016_v1_web.jpg);
            background-size:cover;
        }
        #hunch {
            background: url(../img/large/11340009_v1.jpg);
            background-size:cover;
        }
        #zen {
            background: url(../img/large/11180030_v1_web.jpg);
            background-size:cover;
        }
    }

}
#artist-statement {
    background: @pink;
}

#myModal {
   text-align: center;
    
}

#exhibition {
    .exhibition-body {
        color: #FFF;
        text-align: left;
        max-width: 329px;
        margin: 0 auto;
        text-align: center;

        h3 {
           text-transform: uppercase;
          font-size: 20px;
          letter-spacing: 7px;
          font-weight: 300;
          line-height: 32px;
        }
        
        .exhibition-address {
         font-size: 15px;
            font-weight: 400;
            margin-top: 40px;
            
            p {margin: 14px auto;}
        }
        
        .large-dates {
            font-size: 65px;
            font-weight: 500;
            line-height: 1.2;
            

            .dash {
                display: inline-block;
                background: #FFF;
                width: 84px;
                height: 3px;
                // line-height: 76px / 2;
                vertical-align: super;
            }
        }
        h5 {
            font-size: 16px;
            letter-spacing: 2px;
            font-weight: 400;
            margin-bottom: 7px;
        }
        em {
            font-weight: 200;
            letter-spacing: 2px;
            font-size: 16px;
        }
    }
}
.short-screen {
    .product {
        img {
            max-height: 350px;
        }
    }
}
#store {
    min-height: 600px !important;
   
    background: @light-tan;
    // overflow: hidden;

    .checkout-overlay {
        display: none;
        position: fixed;
        height: 100%;
        width: 100%;
        z-index: 9999;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;

        background: rgba(250, 243, 228, 0.95);
        overflow: hidden;

        .quantity, .variation {
            position: relative;
            display: inline-block;
        }

        .variation.disabled {
            .checkout-arrow-left, .checkout-arrow-right {
                opacity: 0.30;
                cursor: default;
            }
        }
        .checkout-arrow-left {
            position: absolute;
            top: 15px;
            left: 50%;
            background: url(../img/product-arrow-left.png);
            background-repeat: no-repeat;
            background-position: center center;
            height: 30px;
            width: 30px;
            margin-top: -30px / 2;
            margin-left: -120px;
            padding: 15px;
            z-index: 999;
            opacity: 1;
            display: inline-block;
        }
        .checkout-arrow-right {
            position: absolute;
            top: 15px;
            right: 50%;
            background: url(../img/product-arrow-right.png);
            background-repeat: no-repeat;
            background-position: center center;
            height: 30px;
            width: 30px;
            margin-top: -30px / 2;
            margin-right: -120px;
            padding: 15px;
            z-index: 999;
            opacity: 1;
            display: inline-block;
        }
        .checkout {
            margin: 10px;
            padding: 10px;
            display: block;
        }
        .continue-shopping a {
            color: @dark-grey;
            text-transform: uppercase;
            text-decoration: underline;
            display: block;
            margin-top: 10px;
            padding: 10px;
            font-size: 10px;
            font-weight: 400;
            letter-spacing: 1px;
            outline: none;
        }

        h5 {
            text-transform: uppercase;
            letter-spacing: 3px;
            line-height: 1;
            margin: 0;
            padding-bottom: 10px;
            font-size: 14px;
            color: @dark-grey;
        }
        .fine-print {
            color: #807f7c;
            font-size: 11px;
            line-height: 3.0;
            letter-spacing: 1px;
            .inline-block {
                margin: 0 4px;

                .inline-block {
                    margin: 0;
                }
            }
        }
        .inline-contents {
            .inline-block {
                margin: 0 4px;
            }
        }
    }

    .become-a-stockist {
        height: 159px;
        margin-top: -80px;
        position: absolute;
        z-index: 1040;
    }

    // .purchase-overlay {
    //     display: block;
    // }

    .carousel-inner-container {
        position: relative;
        height: 700px;
        max-width: 500px;
        margin: 0 auto;
        overflow: hidden;
    }

    .product {
        padding: 85px 0 50px;
        -webkit-transition: all 0.25s ease-in-out;
        -moz-transition: all 0.25s ease-in-out;
        -o-transition: all 0.25s ease-in-out;
        transition: all 0.25s ease-in-out;
        opacity: 1;

        &.ng-hide-add-active {
            opacity: 0;
        }
        &.ng-hide-add {
            // opacity: 1;
        }
        &.ng-hide-remove-active {
            opacity: 1;
        }
        &.ng-hide-remove {
            opacity: 0;
        }
        .ng-hide {
        }
        .ng-show {
        }


        .purchase {
            display: block;

            &:hover {
                text-decoration: none;
            }
        }
        .product-details {
            padding-top: 20px;
            h5 {
                margin: 0 0 10px 0;
                color: @dark-grey;
                font-size: 12px;
                text-transform: uppercase;
                letter-spacing: 2px;
                font-weight: 500;
            }
            .fine-print {
                color: #807f7c;
                font-size: 11px;
                letter-spacing: 1px;
                .inline-block {
                    margin: 0 4px;

                    .inline-block {
                        margin: 0;
                    }
                }
            }
        }
        .product-purchase {
            padding-top: 20px;
            text-transform: uppercase;
            border-bottom: 1px solid @dark-grey;
            display: inline-block;

            // unicode-bidi:bidi-override;
            // direction:rtl;
            a {
                text-decoration: none;
                color: @dark-grey;
                font-size: 13px;
                letter-spacing: 3px;
                padding-bottom: 1px;
                margin-right: -3px;
            }
        }
        
        .product-add {
            padding-top: 20px;
            text-transform: uppercase;
            border-bottom: 1px solid @dark-grey;
            display: inline-block;

            // unicode-bidi:bidi-override;
            // direction:rtl;
            a {
                text-decoration: none;
                color: @dark-grey;
                font-size: 13px;
                letter-spacing: 3px;
                padding-bottom: 1px;
                margin-right: -3px;
            }
        }
    }
    .arrow-right {
        background: url(../img/product-arrow-right.png);
        background-repeat: no-repeat;
        background-position: center center;
        position: absolute;
        left: 50%;
        top: 50%;
        height: 30px;
        width: 30px;
        margin-top: -30px / 2;
        margin-left: 220px;
        padding: 15px;
        z-index: 999;
        opacity: 1;
    }
    .arrow-left {
        background: url(../img/product-arrow-left.png);
        background-repeat: no-repeat;
        background-position: center center;
        position: absolute;
        left: 50%;
        top: 50%;
        height: 30px;
        width: 30px;
        margin-top: -30px / 2;
        margin-left: -250px;
        padding: 15px;
        z-index: 999;
        opacity: 1;
    }
    .nav-store {
        width: 100%;
        position: relative;
        z-index: 999;
        top: 47px;
        margin: 0 auto;
        list-style: none;
        padding: 0;

        li {
            display: inline;
            border-bottom: 1px solid transparent;
            margin: 0 17px;

            a {
                color: @dark-grey;
                margin-right: -6px;
                padding: 3px 0;
                text-transform: uppercase;
                font-size: 11px;
                font-weight: 400;
                text-decoration: none;
                letter-spacing: 3px;
                outline: none;
            }

            &:last-child {
                padding-right: 3px;
            }

            &:hover, &.active {
               border-bottom: 1px solid @dark-grey;
            }
        }
    }
}

.gallery-arrow {
    position: absolute;
    top: 50%;
    height: 50px;
    width: 50px;
    margin-top: -25px;
    cursor: pointer;
    background: #FE0000;
    z-index: 99999;
    opacity: 1;
}
.gallery-arrow-left {
    left: 0;
    background: url(../img/gallery-nav-left.png);
    background-repeat: no-repeat;
    background-position: center center;
    &.hug {
        left: 5%;
    }
}
.gallery-arrow-right {
    right: 0;
    background: url(../img/gallery-nav-right.png);
    background-repeat: no-repeat;
    background-position: center center;
    &.hug {
        right: 5%;
    }
}

.bottom-middle {
    position: absolute;
    max-width: 500px;
    margin-left: -500px / 2;
    left: 50%;
    bottom: 50px;
    text-align: center;
}

.fadein.ng-leave {
    display: none;
}
.fadein.ng-enter {
    webkit-transition: opacity 0.3s linear;
    -o-transition: opacity 0.3s linear;
    transition: opacity 0.3s linear;
    -webkit-transition: all opacity 0.3s linear ease-out;
    -moz-transition: all opacity 0.3s linear ease-out;
    -o-transition: all opacity 0.3s linear ease-out;
    transition: all opacity 0.3s linear ease-out;
}
.fadein.ng-enter, .fadein.ng-leave.ng-leave-active {
    opacity: 0;
}
.fadein, .fadein.ng-enter.ng-enter-active {
    opacity: 1;
}


#credits {
    background: @green;
    .bottom-middle {
        max-width: 400px;
        margin-left: -400px / 2;
    }
    .ben {
        margin-right: 15px;
    }
    .overgrowth-small {
        margin-bottom: -12px;
    }
    .credit {
        margin-bottom: 2px;
    }
    .credits-photos {
        padding: 0 0 30px;
    }
    .credits-text {
        display: block;
        margin: 0 auto;
        max-width: 564px;
        margin: 0 auto;
        color: #FFF;
        text-align: left;
        font-weight: 200;
        font-size: 13px;
        line-height: 1.666;
        letter-spacing: .8px;
        text-align: justify;
        padding: 0 5px;
        
        p {margin: 14px auto}
    }
    .infinite-scroll {
        position: absolute;
        top: 50px;
        bottom: 50px;
        left: 50%;
        right: 50%;
        width: 568px;
        margin-left: -568px / 2;
        overflow:scroll;
        -webkit-overflow-scrolling: touch;
        // border: 2px dashed #666;
    }
    .fadeout {
        position: static;
        bottom: 0;
        height: 200px;
        width: 100%;
        background-image: -webkit-linear-gradient(90deg, rgba(255, 255, 255, 0), @pink);
        background-image: -moz-linear-gradient(90deg, rgba(255, 255, 255, 0), @pink);
        background-image: -ms-linear-gradient(90deg, rgba(255, 255, 255, 0), @pink);
        background-image: -o-linear-gradient(90deg, rgba(255, 255, 255, 0), @pink);
        background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), @pink);
        z-index: 40;
    }
    h4 {
        color: #FFF;
        padding-top: 60px;
        letter-spacing: 2px;
        font-weight: 400;
    }
    .contributors-list {
        list-style-type: none;
        padding: 40px 0 100px 0;
        -webkit-column-count: 3; /* Chrome, Safari, Opera */
        -moz-column-count: 3; /* Firefox */
        column-count: 3;

        li {
            color: #FFF;
            text-align: left;
            font-weight: 300;
            font-size: 13px;
            line-height: 1.666;
            letter-spacing: 1px;
            padding: 0;
            margin: 0;
        }
        
   
        
    }

 .bottom-middle {
       left: 0;
  right: 0;
  margin: 0 auto;
        max-width: 550px; 
       
        
       
    }


}
section {
    position: relative;
    height: 100%;
    width: 100%;
}
.background-image {
    background:transparent center no-repeat;
    background-size:cover;
}
#kickstarter, #myModal {
    
    a:hover {
        text-decoration: none;
    }
    
  
    
    .box-a {padding: 10px;
        padding-top: 11px;
        border: solid 1px #fff;
        color: #fff;
        /* width: 200px; */
        /* margin: 0 auto; */
        text-align: center;
        font-size: 12px;
        letter-spacing: 3px;
        margin-bottom: 210px;
        /* display: block; */
        position: relative;
        top:-20px;}
    
    .box-a.press-kit {top:80px;}
    
    .vidtxt, .vidtxt a {color: #fff;
        /* width: 200px; */
        /* margin: 0 auto; */
        text-align: center;
        font-size: 12px;
        letter-spacing: 3px;}
    
    div.box-txt > a {
     color:#fff !important;
    }
    
    h3, a h3, h3 a  {
       .avenir-heavy
        
    }
    
    
    .prkit {margin-top: 57px;}
    
    .smalltxt {
        .avenir-light;
        margin-bottom: 58px;
        text-transform: uppercase;
    }
    
    
    hr.transparent {
        height: 0;
        border-top: 1px solid rgba(255, 255, 255, 0.5);
        width: 200px;
        padding: 0;
        margin-top: -11px;
        margin-bottom: 11px;
        
      
    }
    
      hr.transparent.presskit {width:240px;}
        hr.transparent.resume-txt {width:80px;}
        hr.transparent.close-txt {width:65px;}
     hr.transparent.view-txt {width:210px;}
    
    
    .bottom-middle {
        width: 210px;
        margin-left: -210px / 2;

        a {
            text-transform: uppercase;
            color: #FFF;
            border-bottom: 1px solid #FFF;
            text-decoration: none;
            font-size: 13px;
            letter-spacing: 3px;
            padding-bottom: 1px;
            font-weight: 400;
        }

    }
}
.carousel {
    .carousel-inner {
        max-width: 450px;
        margin: 0 auto;
    }
}

.carousel-indicators {
    position: relative;
    bottom: 10px;
    left: 50%;
    z-index: 15;
    width: 60%;
    padding-left: 0;
    margin-left: -30%;
    text-align: center;
    list-style: none;
}


/* overlay at start */
.mfp-fade.mfp-bg {
  opacity: 0;

  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}
/* overlay animate in */
.mfp-fade.mfp-bg.mfp-ready {
  opacity: 0.8;
}
/* overlay animate out */
.mfp-fade.mfp-bg.mfp-removing {
  opacity: 0;
}

/* content at start */
.mfp-fade.mfp-wrap .mfp-content {
  opacity: 0;

  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}
/* content animate it */
.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
  opacity: 1;
}
/* content animate out */
.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
  opacity: 0;
}


@-webkit-keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@-moz-keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@-o-keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.mfp-open .mfp-figure {
    -webkit-animation-name: fadeIn;
    -moz-animation-name: fadeIn;
    -o-animation-name: fadeIn;
    animation-name: fadeIn;
    -webkit-animation-duration: .5s;
    -moz-animation-duration: .5s;
    -ms-animation-duration: .5s;
    -o-animation-duration: .5s;
    animation-duration: .5s;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -ms-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility:    hidden;
    -ms-backface-visibility:     hidden;

}
.mfp-counter {
    display: none;
}
.mfp-bg {
    background: #FFF;
}
.loading {
    width: 100%;
    height: 100%;
    cursor: wait;
}
#open-gallery-button {
    transition: all 0.5s ease;
}
.inline-block {
    display: inline-block;
}

  .show-mobile {display:none;}


.thecredits {
     a{
        font-size: 12px;
        font-weight: 300;
        color:#fff;
         text-transform: uppercase;
         letter-spacing: 2px;
         text-decoration: none;
         
         em {
            
             font-weight: 100;
             text-transform: none;
         }
         
         span {
            text-decoration: underline;
         }
     }
}


@media (max-width: 480px) {
      section {min-height: 400px;}
    .body-text {font-size: 18px;}
}

@media (max-width: 767px) {
    // body {
    //     height: 120%;
    // }
    
  
    
    #landing { background-image: url(../img/mobile/overgrowth.jpg)}
    
    .hide-mobile {display:none;}
    .show-mobile {display:block;}
    
    #kickstarter .box-a.press-kit, #myModal .box-a.press-kit {
      top: 40px;
    }
    
    #kickstarter .smalltxt, #myModal .smalltxt {
        margin-bottom: 28px;
    }
    
    #toggle-mobile-menu {
        position: fixed;
        width: 16px;
        height: 12px;
        z-index: 500;
        top: 0;
        left: 0;
        padding: 20px;
        transition: all 0.5s ease;

        &.light {
            background: url(../img/mobile/menu-lines.png);
            background-position: 20px 20px;
            background-repeat: no-repeat;
        }
        &.dark {
            background: url(../img/mobile/menu-lines-grey.png);
            background-position: 20px 20px;
            background-repeat: no-repeat;
        }
    }
    #artist-statement {
        position: relative;
        z-index: 100;
    }
    #mobile-nav {
        display: none;
        height: 100%;
        width: 100%;
        background: rgba(255, 255, 255, 0.85);
        position: fixed;
        z-index: 99;
        margin-top: 48px;
        margin-bottom: -48px;
        top: 0;
        bottom: 0;
        left: 0;
        z-index: 9999;

        .nav-horizontal {
            top: 8px;
            left: 20px;
            text-align: left;

            li {
                display: block;
                line-height: 34px;
                border: none;
                margin: 0;
                a {
                    color: @dark-grey;
                    font-weight: 600;
                }
                &:hover {
                    // border: none;
                }
            }
        }
    }
    .nav.dots {
        display: none;
    }
    .overgrowth-logo {
        .desktop {
            display: none;
        }
        .mobile {
            width: 281px;
        }
    }
    .top-right {
        position: absolute;
        top: 20px;
        right: 20px;
    }
    .middle-right {
        position: absolute;
        left: 20px;
        top: 50%;
        height: 72px;
        margin-top: -72px / 2;

        &.kickstarter {
            a {
                display: block;
            }
        }
    }
    .bottom-right {
        position: absolute;
        bottom: 20px;
        right: 0;
        a {
            padding: 20px;
        }
    }
    .bottom-left {
        position: absolute;
        bottom: 20px;
        left: 20px;
    }
    .top-middle {
        position: absolute;
        top: 20px;
        left: 50%;
        width: 20px;
        margin-left: -10px;
    }
    .bottom-middle {
        position: absolute;
        bottom: 20px;
        left: 50%;
        width: 20px;
        margin-left: -10px;
    }
    #store {
        .carousel-inner-container {
            position: relative;
            height: 400px;
            // max-width: 500px;
            margin: 0 auto;
            overflow: hidden;
        }
        .nav-store {
            top: 0;
            margin-bottom: 15px;
            li {
                margin: 0 4px;
                a {
                    font-size: 8px;
                    letter-spacing: 1px;
                }
            }
        }
        .checkout-overlay {
            position: relative;
            z-index: 9999999;
        }
        .arrow-right {
            right: 5px;
            left: inherit;
            margin-left: 0;
            margin-right: 0;
        }
        .arrow-left {
            left: 5px;
            margin-left: 0;
            margin-right: 0;
        }
        .product {
            .product-purchase {
                border: none;
                padding-top: 10px;
                a {
                    padding-top: 10px;
                    font-size: 10px;
                    text-decoration: underline;
                }
            }
            .product-details {
                h5 {
                    margin-bottom: 5px;
                }
                .fine-print {
                    font-size: 10px;
                }
            }
            padding: 0;
            img {
                max-height: 300px;
            }
        }
    }
    #credits {
        
        
        
        .infinite-scroll {
            position: absolute;
            top: 40px;
            bottom: 40px;
            left: 50%;
            right: 50%;
            width: 300px;
            margin-left: -300px / 2;
            // height: 400px;
            overflow: show;
        }
        .credits-photos {
            padding: 40px 0 30px;
        }
        .credits-names {
            position: absolute;
            width: 100%;
            bottom: 20px;
            
     
            
            .credits-list {
                position: relative;
                padding-bottom: 4px;
            }
            
           

            .ben {
                position: absolute;
                display: inline-block;
                left: 20px;
            }
            .michelle {
                position: absolute;
                right: 20px;
            }

            li {
                list-style-type: none;
                display: inline-block;
            }
        }
    }
    #gallery {
        background-image: url(../img/mobile/gallery-placeholder.jpg);
    }
    
   #credits  .credits-text {
       font-weight: 300;
        padding: 0 20px;
         font-size: 12px;
  line-height: 14px;
    }

}

#change-portrait-prompt {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 99999;
    background: @tan;
    overflow: hidden;
    img {
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        transform: rotate(90deg);
    }
}



@media (orientation: portrait) {
    #change-portrait-prompt {
        display: none;
    }
    // html, body {
    //     overflow: inherit;
    // }

}

