#collaboration {
  background: #e4e7dd;
}
html,
body {
  font-family: "Avenir-Next", "Helvetica Neue", Helvetica, sans-serif;
  height: 100%;
  padding: 0;
  margin: 0;
}
body {
  position: relative;
}
.skrollr-desktop body {
  height: 100% !important;
}
p {
  margin: 1em 0;
}
em {
  font-style: italic;
}
.parallax-image-wrapper {
  position: fixed;
  left: 0;
  width: 100%;
  overflow: hidden;
}
.parallax-image-wrapper-50 {
  height: 50%;
  top: -50%;
}
.parallax-image-wrapper-100 {
  height: 100%;
  top: -100%;
}
.parallax-image {
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.parallax-image-50 {
  height: 200%;
  top: -50%;
}
.parallax-image-100 {
  height: 100%;
  top: 0;
}
.parallax-image.skrollable-between {
  display: block;
}
.no-skrollr .parallax-image-wrapper {
  display: none !important;
}
#skrollr-body {
  height: 100%;
  overflow: visible;
  position: relative;
}
.gap {
  background: transparent center no-repeat;
  background-size: cover;
}
.skrollr .gap {
  background: transparent !important;
}
.gap-50p {
  height: 50%;
}
.gap-100p {
  height: 100%;
}
.content-full {
  height: 100%;
}
#done {
  height: 100%;
}
.display-table {
  display: table;
  height: 100%;
  width: 100%;
  content: "";
  clear: both;
}
.display-table-cell {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.hidden {
  display: none;
}
.body-text {
  color: #58585a;
  max-width: 522px;
  margin: 0 auto;
  font-size: 21px;
  font-weight: 300;
  text-align: left;
  line-height: 1.66;
}
#dotted-nav {
  position: fixed;
  top: 50%;
  right: 50px;
  height: 152px;
  margin-top: -76px;
  z-index: 1000;
}
#dotted-nav.dark > ul.dots > li > a {
  color: #58595b;
}
#dotted-nav.light > ul.dots > li > a {
  color: #FFF;
}
#dotted-nav ul.dots {
  list-style: none;
  margin: 0;
  padding: 0;
}
#dotted-nav ul.dots li a {
  transition: all 0.5s ease;
  text-decoration: none;
  display: block;
  padding: 0;
}
#dotted-nav ul.dots li a .fa-circle {
  display: none;
}
#dotted-nav ul.dots li a:hover {
  background: none;
}
#dotted-nav ul.dots li.active .fa-circle-o {
  display: none;
}
#dotted-nav ul.dots li.active .fa-circle {
  display: block;
}
#dotted-nav .fa {
  display: block;
  font-size: 11px;
  padding: 4px 0;
}
.top-right {
  position: absolute;
  top: 50px;
  right: 50px;
}
.middle-right {
  position: absolute;
  left: 50px;
  top: 50%;
  height: 72px;
  margin-top: -36px;
}
.bottom-right {
  position: absolute;
  bottom: 50px;
  right: 50px;
}
.bottom-left {
  position: absolute;
  bottom: 50px;
  left: 50px;
}
.nav-horizontal {
  width: 100%;
  position: relative;
  z-index: 9999;
  top: 47px;
  margin: 0 auto;
  list-style: none;
  padding: 0;
}
.nav-horizontal li {
  display: inline;
  border-bottom: 1px solid transparent;
  margin: 0 10px;
}
.nav-horizontal li a {
  margin-right: -6px;
  padding: 3px 0;
  color: #FFF;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 400;
  text-decoration: none;
  letter-spacing: 3px;
  outline: none;
}
.nav-horizontal li:last-child {
  padding-right: 3px;
}
.nav-horizontal li:hover {
  border-bottom: 1px solid #FFF;
}
.centered {
  text-align: center;
}
/* IMAGE LIGHTBOX SELECTOR */
#imagelightbox {
  cursor: pointer;
  position: fixed;
  z-index: 10000;
  -ms-touch-action: none;
  touch-action: none;
}
/* WITH ACTIVITY INDICATION */
#imagelightbox-loading,
#imagelightbox-loading div {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
#imagelightbox-loading {
  width: 30px;
  /* 40 */
  height: 30px;
  /* 40 */
  background-color: #444;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  z-index: 10003;
  top: 50%;
  left: 50%;
  padding: 10px;
  /* 10 */
  margin: -15px 0 0 -15px;
  /* 20 */
  -webkit-box-shadow: 0 0 2.5em rgba(0, 0, 0, 0.75);
  /* 40 */
  -moz-box-shadow: 0 0 2.5em rgba(0, 0, 0, 0.75);
  /* 40 */
  box-shadow: 0 0 2.5em rgba(0, 0, 0, 0.75);
  /* 40 */
}
#imagelightbox-loading div {
  width: 10px;
  /* 20 */
  height: 10px;
  /* 20 */
  padding: 10px;
  background-color: #fff;
  -webkit-animation: imagelightbox-loading 0.5s ease infinite;
  -moz-animation: imagelightbox-loading 0.5s ease infinite;
  -o-animation: imagelightbox-loading 0.5s ease infinite;
  animation: imagelightbox-loading 0.5s ease infinite;
}
@-webkit-keyframes imagelightbox-loading {
  from {
    opacity: .5;
    -webkit-transform: scale(0.75);
  }
  50% {
    opacity: 1;
    -webkit-transform: scale(1);
  }
  to {
    opacity: .5;
    -webkit-transform: scale(0.75);
  }
}
@-moz-keyframes imagelightbox-loading {
  from {
    opacity: .5;
    -moz-transform: scale(0.75);
  }
  50% {
    opacity: 1;
    -moz-transform: scale(1);
  }
  to {
    opacity: .5;
    -moz-transform: scale(0.75);
  }
}
@-o-keyframes imagelightbox-loading {
  from {
    opacity: .5;
    -o-transform: scale(0.75);
  }
  50% {
    opacity: 1;
    -o-transform: scale(1);
  }
  to {
    opacity: .5;
    -o-transform: scale(0.75);
  }
}
@keyframes imagelightbox-loading {
  from {
    opacity: .5;
    transform: scale(0.75);
  }
  50% {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: .5;
    transform: scale(0.75);
  }
}
/* WITH OVERLAY */
#imagelightbox-overlay {
  background-color: #fff;
  background-color: rgba(255, 255, 255, 0.7);
  position: fixed;
  z-index: 9998;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
/* WITH "CLOSE" BUTTON */
#imagelightbox-close {
  width: 2.5em;
  /* 40 */
  height: 2.5em;
  /* 40 */
  text-align: left;
  text-indent: -9999px;
  background-color: #666;
  position: fixed;
  z-index: 10002;
  top: 2.5em;
  /* 40 */
  right: 2.5em;
  /* 40 */
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -webkit-transition: color .3s ease;
  -moz-transition: color .3s ease;
  -ms-transition: color .3s ease;
  -o-transition: color .3s ease;
  transition: color .3s ease;
}
#imagelightbox-close:hover {
  background-color: #111;
}
#imagelightbox-close:before,
#imagelightbox-close:after {
  width: 2px;
  background-color: #fff;
  content: '';
  position: absolute;
  top: 20%;
  bottom: 20%;
  left: 50%;
  margin-left: -1px;
}
#imagelightbox-close:before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
#imagelightbox-close:after {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
/* WITH CAPTION */
#imagelightbox-caption {
  text-align: center;
  color: #fff;
  background-color: #666;
  position: fixed;
  z-index: 10001;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.625em;
  /* 10 */
}
/* WITH NAVIGATION */
#imagelightbox-nav {
  background-color: #444;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  z-index: 10001;
  left: 50%;
  bottom: 3.75em;
  /* 60 */
  padding: 0.313em;
  /* 5 */
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}
#imagelightbox-nav a {
  width: 1em;
  /* 20 */
  height: 1em;
  /* 20 */
  border: 1px solid #fff;
  display: inline-block;
  margin: 0 0.313em;
  /* 5 */
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
#imagelightbox-nav a.active {
  background-color: #fff;
}
#imagelightbox-loading,
#imagelightbox-overlay,
#imagelightbox-close,
#imagelightbox-caption,
#imagelightbox-nav {
  -webkit-animation: fade-in 0.25s linear;
  -moz-animation: fade-in 0.25s linear;
  -o-animation: fade-in 0.25s linear;
  animation: fade-in 0.25s linear;
}
@-webkit-keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@media only screen and (max-width: 41.25em) {
  #container {
    width: 100%;
  }
  #imagelightbox-close {
    top: 1.25em;
    /* 20 */
    right: 1.25em;
    /* 20 */
  }
  #imagelightbox-nav {
    bottom: 1.25em;
    /* 20 */
  }
}
#imagelightbox {
  position: fixed;
  z-index: 9999;
}
#main-nav,
#dotted-nav,
#welcome,
#overgrowth-fixed {
  opacity: 1;
  -webkit-transition: opacity 1s ease-in 2s;
  /* property duration timing-function delay */
  -moz-transition: opacity 1s ease-in 2s;
  -o-transition: opacity 1s ease-in 2s;
  transition: opacity 1s ease-in 2s;
}
#overgrowth-fixed {
  position: fixed;
  height: 72px;
  margin-top: -36px;
  top: 50%;
  left: 50px;
  z-index: 999;
}
#overgrowth-fixed #overgrowth-image {
  -webkit-transition: all 0.5s ease;
  /* property duration timing-function delay */
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  height: 73px;
  width: 7px;
}
#overgrowth-fixed #overgrowth-image.light {
  background: url(../img/overgrowth-vertical-white.png);
}
#overgrowth-fixed #overgrowth-image.dark {
  background: url(../img/overgrowth-gray.png);
}
#landing {
  height: 100%;
  text-align: center;
  background-color: #1c1303;
  -webkit-transition: background 1s ease-in 2s;
  /* property duration timing-function delay */
  -moz-transition: background 1s ease-in 2s;
  -o-transition: background 1s ease-in 2s;
  transition: background 1s ease-in 2s;
}
#about {
  background-color: #d6dccd;
}
#gallery {
  height: 100%;
  background: url(../img/gallery-placeholder.jpg);
  background-color: #faf3e4;
}
#gallery .gallery-container {
  width: 100%;
  height: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}
#gallery .gallery-container .gallery-item {
  height: 100%;
  width: 50%;
  display: inline-block;
  white-space: normal;
  background: url(../img/gallery-placeholder.jpg);
  background-size: cover;
  margin-right: 10px;
}
#gallery .gallery-container .gallery-item:last-child {
  margin-right: 0;
}
#gallery .gallery-container #flowers {
  background: url(../img/large/11420016_v1_web.jpg);
  background-size: cover;
}
#gallery .gallery-container #hunch {
  background: url(../img/large/11340009_v1.jpg);
  background-size: cover;
}
#gallery .gallery-container #zen {
  background: url(../img/large/11180030_v1_web.jpg);
  background-size: cover;
}
#artist-statement {
  background: #e5d6d4;
}
#exhibition .exhibition-body {
  color: #FFF;
  text-align: left;
  max-width: 329px;
  margin: 0 auto;
  text-align: justify;
}
#exhibition .exhibition-body h3 {
  text-transform: uppercase;
  font-size: 22px;
  letter-spacing: 5px;
  font-weight: 400;
}
#exhibition .exhibition-body .large-dates {
  font-size: 76px;
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: 5px;
}
#exhibition .exhibition-body .large-dates .dash {
  display: inline-block;
  background: #FFF;
  width: 84px;
  height: 3px;
  vertical-align: super;
}
#exhibition .exhibition-body h5 {
  font-size: 16px;
  letter-spacing: 2px;
  font-weight: 400;
  margin-bottom: 7px;
}
#exhibition .exhibition-body em {
  font-weight: 200;
  letter-spacing: 2px;
  font-size: 16px;
}
.short-screen .product img {
  max-height: 350px;
}
#store {
  background: #faf3e4;
}
#store .checkout-overlay {
  display: none;
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 9999;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(250, 243, 228, 0.95);
  overflow: hidden;
}
#store .checkout-overlay .quantity,
#store .checkout-overlay .variation {
  position: relative;
  display: inline-block;
}
#store .checkout-overlay .variation.disabled .checkout-arrow-left,
#store .checkout-overlay .variation.disabled .checkout-arrow-right {
  opacity: 0.30;
  cursor: default;
}
#store .checkout-overlay .checkout-arrow-left {
  position: absolute;
  top: 15px;
  left: 50%;
  background: url(../img/product-arrow-left.png);
  background-repeat: no-repeat;
  background-position: center center;
  height: 30px;
  width: 30px;
  margin-top: -15px;
  margin-left: -120px;
  padding: 15px;
  z-index: 999;
  opacity: 1;
  display: inline-block;
}
#store .checkout-overlay .checkout-arrow-right {
  position: absolute;
  top: 15px;
  right: 50%;
  background: url(../img/product-arrow-right.png);
  background-repeat: no-repeat;
  background-position: center center;
  height: 30px;
  width: 30px;
  margin-top: -15px;
  margin-right: -120px;
  padding: 15px;
  z-index: 999;
  opacity: 1;
  display: inline-block;
}
#store .checkout-overlay .checkout {
  margin: 10px;
  padding: 10px;
  display: block;
}
#store .checkout-overlay .continue-shopping a {
  color: #58595b;
  text-transform: uppercase;
  text-decoration: underline;
  display: block;
  margin-top: 10px;
  padding: 10px;
  font-size: 10px;
  font-weight: 400;
  letter-spacing: 1px;
  outline: none;
}
#store .checkout-overlay h5 {
  text-transform: uppercase;
  letter-spacing: 3px;
  line-height: 1;
  margin: 0;
  padding-bottom: 10px;
  font-size: 14px;
  color: #58595b;
}
#store .checkout-overlay .fine-print {
  color: #807f7c;
  font-size: 11px;
  line-height: 3.0;
  letter-spacing: 1px;
}
#store .checkout-overlay .fine-print .inline-block {
  margin: 0 4px;
}
#store .checkout-overlay .fine-print .inline-block .inline-block {
  margin: 0;
}
#store .checkout-overlay .inline-contents .inline-block {
  margin: 0 4px;
}
#store .become-a-stockist {
  height: 159px;
  margin-top: -80px;
  position: absolute;
  z-index: 1040;
}
#store .carousel-inner-container {
  position: relative;
  height: 700px;
  max-width: 500px;
  margin: 0 auto;
  overflow: hidden;
}
#store .product {
  padding: 85px 0 50px;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  opacity: 1;
}
#store .product.ng-hide-add-active {
  opacity: 0;
}
#store .product.ng-hide-remove-active {
  opacity: 1;
}
#store .product.ng-hide-remove {
  opacity: 0;
}
#store .product .purchase {
  display: block;
}
#store .product .purchase:hover {
  text-decoration: none;
}
#store .product .product-details {
  padding-top: 20px;
}
#store .product .product-details h5 {
  margin: 0 0 10px 0;
  color: #58595b;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 500;
}
#store .product .product-details .fine-print {
  color: #807f7c;
  font-size: 11px;
  letter-spacing: 1px;
}
#store .product .product-details .fine-print .inline-block {
  margin: 0 4px;
}
#store .product .product-details .fine-print .inline-block .inline-block {
  margin: 0;
}
#store .product .product-purchase {
  padding-top: 20px;
  text-transform: uppercase;
  border-bottom: 1px solid #58595b;
  display: inline-block;
}
#store .product .product-purchase a {
  text-decoration: none;
  color: #58595b;
  font-size: 13px;
  letter-spacing: 3px;
  padding-bottom: 1px;
  margin-right: -3px;
}
#store .arrow-right {
  background: url(../img/product-arrow-right.png);
  background-repeat: no-repeat;
  background-position: center center;
  position: absolute;
  left: 50%;
  top: 50%;
  height: 30px;
  width: 30px;
  margin-top: -15px;
  margin-left: 220px;
  padding: 15px;
  z-index: 999;
  opacity: 1;
}
#store .arrow-left {
  background: url(../img/product-arrow-left.png);
  background-repeat: no-repeat;
  background-position: center center;
  position: absolute;
  left: 50%;
  top: 50%;
  height: 30px;
  width: 30px;
  margin-top: -15px;
  margin-left: -250px;
  padding: 15px;
  z-index: 999;
  opacity: 1;
}
#store .nav-store {
  width: 100%;
  position: relative;
  z-index: 999;
  top: 47px;
  margin: 0 auto;
  list-style: none;
  padding: 0;
}
#store .nav-store li {
  display: inline;
  border-bottom: 1px solid transparent;
  margin: 0 17px;
}
#store .nav-store li a {
  color: #58595b;
  margin-right: -6px;
  padding: 3px 0;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 400;
  text-decoration: none;
  letter-spacing: 3px;
  outline: none;
}
#store .nav-store li:last-child {
  padding-right: 3px;
}
#store .nav-store li:hover,
#store .nav-store li.active {
  border-bottom: 1px solid #58595b;
}
.gallery-arrow {
  position: absolute;
  top: 50%;
  height: 50px;
  width: 50px;
  margin-top: -25px;
  cursor: pointer;
  background: #FE0000;
  z-index: 99999;
  opacity: 1;
}
.gallery-arrow-left {
  left: 0;
  background: url(../img/gallery-nav-left.png);
  background-repeat: no-repeat;
  background-position: center center;
}
.gallery-arrow-left.hug {
  left: 5%;
}
.gallery-arrow-right {
  right: 0;
  background: url(../img/gallery-nav-right.png);
  background-repeat: no-repeat;
  background-position: center center;
}
.gallery-arrow-right.hug {
  right: 5%;
}
.bottom-middle {
  position: absolute;
  max-width: 500px;
  margin-left: -250px;
  left: 50%;
  bottom: 50px;
  text-align: center;
}
.fadein.ng-leave {
  display: none;
}
.fadein.ng-enter {
  webkit-transition: opacity 0.3s linear;
  -o-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
  -webkit-transition: all opacity 0.3s linear ease-out;
  -moz-transition: all opacity 0.3s linear ease-out;
  -o-transition: all opacity 0.3s linear ease-out;
  transition: all opacity 0.3s linear ease-out;
}
.fadein.ng-enter,
.fadein.ng-leave.ng-leave-active {
  opacity: 0;
}
.fadein,
.fadein.ng-enter.ng-enter-active {
  opacity: 1;
}
#credits {
  background: #c2ceca;
}
#credits .bottom-middle {
  max-width: 400px;
  margin-left: -200px;
}
#credits .ben {
  margin-right: 15px;
}
#credits .overgrowth-small {
  margin-bottom: -12px;
}
#credits .credit {
  margin-bottom: 2px;
}
#credits .credits-photos {
  padding: 0 0 40px;
}
#credits .credits-text {
  display: block;
  max-width: 564px;
  margin: 0 auto;
  color: #FFF;
  text-align: left;
  font-weight: 300;
  font-size: 13px;
  line-height: 1.666;
  letter-spacing: 1px;
  text-align: justify;
}
#credits .infinite-scroll {
  position: absolute;
  top: 50px;
  bottom: 50px;
  left: 50%;
  right: 50%;
  width: 568px;
  margin-left: -284px;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}
#credits .fadeout {
  position: static;
  bottom: 0;
  height: 200px;
  width: 100%;
  background-image: -webkit-linear-gradient(90deg, rgba(255, 255, 255, 0), #e5d6d4);
  background-image: -moz-linear-gradient(90deg, rgba(255, 255, 255, 0), #e5d6d4);
  background-image: -ms-linear-gradient(90deg, rgba(255, 255, 255, 0), #e5d6d4);
  background-image: -o-linear-gradient(90deg, rgba(255, 255, 255, 0), #e5d6d4);
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), #e5d6d4);
  z-index: 40;
}
#credits h4 {
  color: #FFF;
  padding-top: 60px;
  letter-spacing: 2px;
  font-weight: 400;
}
#credits .contributors-list {
  list-style-type: none;
  padding: 40px 0 100px 0;
  -webkit-column-count: 3;
  /* Chrome, Safari, Opera */
  -moz-column-count: 3;
  /* Firefox */
  column-count: 3;
}
#credits .contributors-list li {
  color: #FFF;
  text-align: left;
  font-weight: 300;
  font-size: 13px;
  line-height: 1.666;
  letter-spacing: 1px;
  padding: 0;
  margin: 0;
}
section {
  position: relative;
  height: 100%;
  width: 100%;
}
.background-image {
  background: transparent center no-repeat;
  background-size: cover;
}
#kickstarter .bottom-middle {
  width: 210px;
  margin-left: -105px;
}
#kickstarter .bottom-middle a {
  text-transform: uppercase;
  color: #FFF;
  border-bottom: 1px solid #FFF;
  text-decoration: none;
  font-size: 13px;
  letter-spacing: 3px;
  padding-bottom: 1px;
  font-weight: 400;
}
.carousel .carousel-inner {
  max-width: 450px;
  margin: 0 auto;
}
.carousel-indicators {
  position: relative;
  bottom: 10px;
  left: 50%;
  z-index: 15;
  width: 60%;
  padding-left: 0;
  margin-left: -30%;
  text-align: center;
  list-style: none;
}
/* overlay at start */
.mfp-fade.mfp-bg {
  opacity: 0;
  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}
/* overlay animate in */
.mfp-fade.mfp-bg.mfp-ready {
  opacity: 0.8;
}
/* overlay animate out */
.mfp-fade.mfp-bg.mfp-removing {
  opacity: 0;
}
/* content at start */
.mfp-fade.mfp-wrap .mfp-content {
  opacity: 0;
  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}
/* content animate it */
.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
  opacity: 1;
}
/* content animate out */
.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
  opacity: 0;
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.mfp-open .mfp-figure {
  -webkit-animation-name: fadeIn;
  -moz-animation-name: fadeIn;
  -o-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: .5s;
  -moz-animation-duration: .5s;
  -ms-animation-duration: .5s;
  -o-animation-duration: .5s;
  animation-duration: .5s;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
}
.mfp-counter {
  display: none;
}
.mfp-bg {
  background: #FFF;
}
.loading {
  width: 100%;
  height: 100%;
  cursor: wait;
}
#open-gallery-button {
  transition: all 0.5s ease;
}
.inline-block {
  display: inline-block;
}
@media (max-width: 500px) {
  #toggle-mobile-menu {
    position: fixed;
    width: 16px;
    height: 12px;
    z-index: 10000;
    top: 0;
    left: 0;
    padding: 20px;
    transition: all 0.5s ease;
  }
  #toggle-mobile-menu.light {
    background: url(../img/mobile/menu-lines.png);
    background-position: 20px 20px;
    background-repeat: no-repeat;
  }
  #toggle-mobile-menu.dark {
    background: url(../img/mobile/menu-lines-grey.png);
    background-position: 20px 20px;
    background-repeat: no-repeat;
  }
  #artist-statement {
    position: relative;
    z-index: 100;
  }
  #mobile-nav {
    display: none;
    height: 100%;
    width: 100%;
    background: rgba(255, 255, 255, 0.85);
    position: fixed;
    z-index: 99;
    margin-top: 48px;
    margin-bottom: -48px;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 9999;
  }
  #mobile-nav .nav-horizontal {
    top: 8px;
    left: 20px;
    text-align: left;
  }
  #mobile-nav .nav-horizontal li {
    display: block;
    line-height: 34px;
    border: none;
    margin: 0;
  }
  #mobile-nav .nav-horizontal li a {
    color: #58595b;
    font-weight: 600;
  }
  .nav.dots {
    display: none;
  }
  .overgrowth-logo .desktop {
    display: none;
  }
  .overgrowth-logo .mobile {
    width: 281px;
  }
  .top-right {
    position: absolute;
    top: 20px;
    right: 20px;
  }
  .middle-right {
    position: absolute;
    left: 20px;
    top: 50%;
    height: 72px;
    margin-top: -36px;
  }
  .middle-right.kickstarter a {
    display: block;
  }
  .bottom-right {
    position: absolute;
    bottom: 20px;
    right: 0;
  }
  .bottom-right a {
    padding: 20px;
  }
  .bottom-left {
    position: absolute;
    bottom: 20px;
    left: 20px;
  }
  .top-middle {
    position: absolute;
    top: 20px;
    left: 50%;
    width: 20px;
    margin-left: -10px;
  }
  .bottom-middle {
    position: absolute;
    bottom: 20px;
    left: 50%;
    width: 20px;
    margin-left: -10px;
  }
  #store .carousel-inner-container {
    position: relative;
    height: 400px;
    margin: 0 auto;
    overflow: hidden;
  }
  #store .nav-store {
    top: 0;
    margin-bottom: 15px;
  }
  #store .nav-store li {
    margin: 0 4px;
  }
  #store .nav-store li a {
    font-size: 8px;
    letter-spacing: 1px;
  }
  #store .checkout-overlay {
    position: relative;
    z-index: 9999999;
  }
  #store .arrow-right {
    right: 5px;
    left: inherit;
    margin-left: 0;
    margin-right: 0;
  }
  #store .arrow-left {
    left: 5px;
    margin-left: 0;
    margin-right: 0;
  }
  #store .product {
    padding: 0;
  }
  #store .product .product-purchase {
    border: none;
    padding-top: 10px;
  }
  #store .product .product-purchase a {
    padding-top: 10px;
    font-size: 10px;
    text-decoration: underline;
  }
  #store .product .product-details h5 {
    margin-bottom: 5px;
  }
  #store .product .product-details .fine-print {
    font-size: 10px;
  }
  #store .product img {
    max-height: 300px;
  }
  #credits .infinite-scroll {
    position: absolute;
    top: 40px;
    bottom: 40px;
    left: 50%;
    right: 50%;
    width: 300px;
    margin-left: -150px;
    overflow: show;
  }
  #credits .credits-photos {
    padding: 40px 0 30px;
  }
  #credits .credits-names {
    position: absolute;
    width: 100%;
    bottom: 20px;
  }
  #credits .credits-names .credits-list {
    position: relative;
    padding-bottom: 4px;
  }
  #credits .credits-names .ben {
    position: absolute;
    display: inline-block;
    left: 20px;
  }
  #credits .credits-names .michelle {
    position: absolute;
    right: 20px;
  }
  #credits .credits-names li {
    list-style-type: none;
    display: inline-block;
  }
  #gallery {
    background: url(../img/mobile/gallery-placeholder.jpg);
  }
}
#change-portrait-prompt {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 99999;
  background: #d6dccd;
  overflow: hidden;
}
#change-portrait-prompt img {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
@media (orientation: portrait) {
  #change-portrait-prompt {
    display: none;
  }
}
